{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>.md-header { position: sticky; top: 0; z-index: 1000; }.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="assets/images/illustration.png" alt="" width="1659" height="1200" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <h1>DevOps</h1>
          <p>{{ config.site_description }}</p>
          <a href="documentation/ansible" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
            Documentation
          </a>
          <a href="https://drive.google.com/file/d/1RxIOia1GwcqOO9frotEJ9aFvVOw58NNS/view?usp=sharing" title="Télécharger mon CV" class="md-button">
            Get my CV
          </a>
        </div>
      </div>
      <section id="about">
Aboutme
      </section>
      <section id="projects">
        <div class="parallax-container">
          <a href="orange/" class="card card-1">
          </a>
          <a href="csm/" class="card card-2">
          </a>
          <a href="link3.html" class="card card-3">
          </a>
          <a href="link4.html" class="card card-4">
          </a>
        </div>        
      </section>
      <section id="contact">
        contactme
              </section>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
